* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #111b47;
    --color-secondy: #505f98;
    --color-three: #6f7cb2;
    --color-four: #091133;
    --color-five: #5d6970;
}
body {
    font-family: "roboto";
    font-weight: 400;
    background-color: #ffffff;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 1100px;
}

header {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    height: 100px;
}
.menu ul {
    display: flex;
    list-style: none;
}

.menu ul a {
    text-decoration: none;
    color: var(--color-secondy);
    margin-right: 40px;
}

.logo {
    font-size: 23px;
    display: flex;
    align-items: center;
    color: var(--color-primary);
}

.button-nav {
    display: flex;
    align-items: center;
}

.button-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 26px;
    background-color: var(--color-primary);
    padding: 17px;
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;

    justify-content: center;
}

.hero-content {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-title {
    width: 550px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 66px;
    color: var(--color-primary);
    margin-bottom: 40px;
}

.hero-body {
    width: 550px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

/* body {
   
    background-image: url('/landie/assets/images/hero-content.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right top;
    background-attachment: scroll;
  
} */

.hero-button {
    display: flex;
    margin-top: 60px;
}

.hero-button-ui-kit a {
    text-decoration: none;
    background-color: var(--color-primary);
    padding: 10px;
    color: #fff;
    margin-right: 20px;
}

.hero-button-learn-more a {
    text-decoration: none;
    border: 3px solid var(--color-primary);
    padding: 8px;
    color: var(--color-primary);
}

section {
    margin-bottom: 150px;
    display: flex;
    justify-content: center;
}

.undraw {
    display: flex;
    justify-content: center;
    flex: 1;
}

.section-title-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.undraw-title {
    width: 550px;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 15px;
    color: var(--color-four);
}

.undraw-sub {
    width: 550px;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-three);
}

.elements-position {
    display: flex;
    margin-top: 20px;
}

.info-card {
    margin-bottom: 10px;
}

.info-card-title {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    color: var(--color-four);
}

.info-card-sub {
    width: 280px;
    color: var(--color-five);
}

.mobilie-login {
    display: flex;
    justify-content: center;
    flex: 1;
}

.button-undraw-mention a {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 26px;
    background-color: var(--color-primary);
    padding: 17px;
    text-decoration: none;
    color: #fff;
}

#princing-background {
    height: 730px;

    background: #f3f5ff;
    margin-top: -90px;
}

.pricing {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.pricing-title {
    font-size: 30px;
    color: #091133;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 10px;
}

.princing-sub {
    text-align: center;
    width: 490px;
    margin-bottom: 35px;
    line-height: 20px;
    font-size: 14px;
    color: #6f7cb2;
}

.velue {
    color: #091133;
    font-weight: 600;
    font-size: 40px;
    line-height: 66px;
}

.price {
    color: #091133;
    margin-top: -8px;
    font-size: 12px;
}

.body-info {
    margin-top: 60px;
    font-size: 15px;
    margin-bottom: 12px;
    color: #091133;
}

.price-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 26px;
    background-color: var(--color-primary);
    padding: 17px;
}

.price-button a {
    text-decoration: none;
    color: #fff;
    font-weight: 300;
}

footer {
    margin-top: -170px;
    height: 170px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7ecff;
}

.yourcompany {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 35px;
    padding-bottom: 30px;
}

.footer {
    width: 100%;
}

.menu-social-media {
    border-top: 2px solid #e0e5e9;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-social-media a {
    margin-right: 10px;
}
.menu-footer {
    margin-top: 20px;
}
.menu-footer ul {
    display: flex;
    list-style: none;
}

.menu-footer a {
    text-decoration: none;
    color: #929ecc;
    margin-right: 30px;
    font-size: 14px;
}

.media-social {
    margin-top: 20px;
   
}
.media-social a {
    margin-left: 10px;
}
.logo-footer {
    font-size: 25px;
    color: var(--color-four);
    font-weight: 600;
}

.copy {
    color: #939ea4;
    font-size: 14px;
}

.button-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 20px;
    background-color: var(--color-primary);
    padding: 17px;
}

.button-footer a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
