* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-primary: #111b47;
    --color-secondy: #505f98;
    --color-three:#6F7CB2;
    --color-four: #091133;
    --color-five: #5D6970;
}
body {
    font-family: "roboto";
    font-weight: 400;
    background-color: #ffffff;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 1100px;
}

header {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    height: 100px;
}
.menu ul {
    display: flex;
    list-style: none;
}

.menu ul a {
    text-decoration: none;
    color: var(--color-secondy);
    margin-right: 40px;
}

.logo {
    font-size: 23px;
    display: flex;
    align-items: center;
    color: var(--color-primary);
}

.button-nav {
    display: flex;
    align-items: center;
}

.button-nav a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 26px;
    background-color: var(--color-primary);
    padding: 17px;
    text-decoration: none;
    color: #fff;
}

main {
    display: flex;

    justify-content: center;
}

.hero-content {
    height: 90vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.hero-title {
    width: 550px;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 66px;
    color: var(--color-primary);
    margin-bottom: 40px;
}

.hero-body {
    width: 550px;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
}

/* body {
   
    background-image: url('/landie/assets/images/hero-content.svg');
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right top;
    background-attachment: scroll;
  
} */

.hero-button {
    display: flex;
    margin-top: 60px;
}

.hero-button-ui-kit a {
    text-decoration: none;
    background-color: var(--color-primary);
    padding: 10px;
    color: #fff;
    margin-right: 20px;
}

.hero-button-learn-more a {
    text-decoration: none;
    border: 3px solid var(--color-primary);
    padding: 8px;
    color: var(--color-primary);
}

section {
  
    margin-bottom: 150px;
    display: flex;
    justify-content: center;

}


.undraw {
    display: flex;
    justify-content: center;
    flex: 1;
}

.section-title-body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}


.undraw-title {
 
    width: 550px;
    font-size: 36px;
    font-weight: 600;
    font-style: normal;
    margin-bottom: 15px;
    color: var(--color-four);
 
}

.undraw-sub {
 
    width: 550px;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-three);
}

.elements-position {
    display: flex;
    margin-top: 20px;
}


.info-card {
    margin-bottom: 10px;
}


.info-card-title {
    margin-bottom: 10px;
    font-size: 17px;
    font-weight: 600;
    color: var(--color-four);
}

.info-card-sub {
    width: 280px;
    color: var(--color-five);
}



.mobilie-login {
    display: flex;
    justify-content: center;
    flex: 1;
 
   
}

.button-undraw-mention a {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 160px;
    height: 26px;
    background-color: var(--color-primary);
    padding: 17px;
    text-decoration: none;
    color: #fff;
}

#princing-background {
    width: 100%;
    height: 700px;
    background: #E7ECFF;
mix-blend-mode: normal;
opacity: 0.5;
}

.pricing {


/* Colour/Main/Blue/100 */


}